<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <!--
  <configSections>
    <section name="aws" type="Amazon.AWSSection, AWSSDK.Core"/>
  </configSections>
  <asw region="us-west-2">
    <logging logTo="Log4Net"/>
  </asw>
  -->
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
  </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <probing privatePath="x86" />
    </assemblyBinding>
  </runtime>
  <appSettings>
    <!--AWSProfileName is used to reference an account that has been registered with the SDK.
If using AWS Toolkit for Visual Studio then this value is the same value shown in the AWS Explorer.
It is also possible to register an account using the <solution-dir>/packages/AWSSDK-X.X.X.X/tools/account-management.ps1 PowerShell script
that is bundled with the nuget package under the tools folder.

		<add key="AWSProfileName" value="" />
-->
    <add key="AWSRegion" value="us-east-1"/>
    <add key="AWSLogging" value="log4net"/>
  </appSettings>
</configuration>